# Git
.git
.gitignore

# Docker
.dockerignore
Dockerfile

# Python
.venv
__pycache__/
*.pyc
*.pyo
*.pyd

# Node
node_modules/
frontend/node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor/OS specific
.vscode/
.idea/
.DS_Store 