# Git
.git


# Python
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
/data/db/
/data/redis/
/data/qdrant/
/data/keys/
/data/mysql/
.env

# Node
node_modules/
frontend/node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
frontend/.next/

# Editor/OS specific
.vscode/
.idea/
.DS_Store

# Instance ID
.instance_id 

.auth_password.key
.key