Flask
pydantic
pydantic-settings
imap-tools
python-dotenv 
redis
fastapi
uvicorn
watchfiles
cryptography
openai
httpx
fastmcp
qdrant-client
python-dateutil
aiohttp
requests
beautifulsoup4
# Gmail
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
# embedding
tiktoken
email-reply-parser
requests
email-reply-parser
beautifulsoup4
lxml
aiosqlite
sqlalchemy
mysql-connector-python
voyageai
pytest
html2text
filelock
langdetect
jsonpath-ng
