Flask
pydantic
pydantic-settings
imap-tools
python-dotenv 
redis
fastapi
uvicorn
openai
httpx
fastmcp
qdrant-client
python-dateutil
aiohttp
requests
beautifulsoup4
# Gmail
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
# embedding
tiktoken
email-reply-parser
requests
fastembed
email-reply-parser
beautifulsoup4
lxml