Flask
pydantic
pydantic-settings
imap-tools
python-dotenv 
redis
fastapi
uvicorn
watchfiles
cryptography
openai
httpx
fastmcp
qdrant-client
python-dateutil
aiohttp
requests
beautifulsoup4
# Gmail
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
# embedding
tiktoken
email-reply-parser
requests
email-reply-parser
beautifulsoup4
lxml
aiosqlite
sqlalchemy
mysql-connector-python
voyageai
pytest
html2text
filelock
langdetect
jsonpath-ng
aiomysql
# For the workflow engine database
mysql-connector-python

# Stripe payments
stripe==8.*

# Authentication
auth0-python
PyJWT
python-jose==3.5.0
